@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

@import "tailwindcss";



:root {
  --background: #FFFFFF;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;


}

.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: #1e3a8a !important; /* Tailwind's bg-blue-900 */
  border: 2px solid #1e3a8a !important;
  color: white !important;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: #1e3a8a !important;
  color: white !important;
}
